services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  data-service:
    build: ./backend-services/data-service
    container_name: data-service
    ports:
      - "3001:3001"
    environment:
      MONGO_URI: ${MONGO_URI}
      FINNHUB_API_KEY: ${FINNHUB_API_KEY}
      MARKETAUX_API_KEY: ${MARKETAUX_API_KEY}
      PORT: 3001
      YAHOO_FINANCE_PROXIES: ${YAHOO_FINANCE_PROXIES}
    depends_on:
      - mongodb
    networks:
      - app-network
    # for development
    volumes:
      - ./backend-services/data-service:/app
    # Mount local directory to container's /app

  scheduler-service:
    build: ./backend-services/scheduler-service
    container_name: scheduler-service
    ports:
      - "${SCHEDULER_SERVICE_PORT:-3004}:3004"
    environment:
      MONGO_URI: ${MONGO_URI}
      PORT: 3004
      TICKER_SERVICE_URL: http://ticker-service:5001
      SCREENING_SERVICE_URL: http://screening-service:3002
      ANALYSIS_SERVICE_URL: http://analysis-service:3003
    depends_on:
      - mongodb
      - ticker-service
      - screening-service
      - analysis-service
    networks:
      - app-network
    # for development  
    volumes:
      - ./backend-services/scheduler-service:/app
    # Mount local directory to container's /app


  screening-service:
    build: ./backend-services/screening-service
    container_name: screening-service
    ports:
      - "3002:3002"
    environment:
      PORT: 3002
      DATA_SERVICE_URL: http://data-service:3001
    depends_on:
      - data-service
    networks:
      - app-network
    # for development  
    volumes:
      - ./backend-services/screening-service:/app 
    # Mount local directory to container's /app

  analysis-service:
    build: ./backend-services/analysis-service
    container_name: analysis-service
    ports:
      - "3003:3003"
    environment:
      PORT: 3003
      DATA_SERVICE_URL: http://data-service:3001
    depends_on:
      - data-service
    networks:
      - app-network
    # for development  
    volumes:
      - ./backend-services/analysis-service:/app 
    # Mount local directory to container's /app
 
  ticker-service:
    build: ./backend-services/ticker-service
    container_name: ticker-service
    ports:
      - "${TICKER_SERVICE_PORT:-5001}:5001"
    environment:
      PORT: 5001
    networks:
      - app-network
    # for development  
    volumes:
      - ./backend-services/ticker-service:/app 
    # Mount local directory to container's /app

  api-gateway:
    build: ./backend-services/api-gateway
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DATA_SERVICE_URL: http://data-service:3001
      SCREENING_SERVICE_URL: http://screening-service:3002
      ANALYSIS_SERVICE_URL: http://analysis-service:3003
      SCHEDULER_SERVICE_URL: http://scheduler-service:3004
      TICKER_SERVICE_URL: http://ticker-service:5001
    depends_on:
      - screening-service
      - analysis-service
      - ticker-service
      - data-service
      - scheduler-service
    networks:
      - app-network
    # for development  
    volumes:
      - ./backend-services/api-gateway:/app 
    # Mount local directory to container's /app

  # for production build with static Nginx server
  # frontend-app:
  #   build: ./frontend-app
  #   container_name: frontend-app
  #   ports:
  #     - "5173:80"
  #   environment:
  #     VITE_API_BASE_URL: http://localhost:3000
  #   depends_on:
  #     - api-gateway
  #   networks:
  #     - app-network

  # Development configuration for local development
  frontend-app:
    build:
      context: ./frontend-app
      dockerfile: Dockerfile.dev
    container_name: frontend-app
    ports:
      - "5173:5173" # Vite dev server runs on 5173
    environment:
      - VITE_API_BASE_URL=http://localhost:3000
    depends_on:
      - api-gateway
    networks:
      - app-network
    volumes:
      - ./frontend-app:/app
      - /app/node_modules 
      # Prevents local node_modules from overwriting container's


volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge
